/*--------------------------------------------------------------
# Media Item
--------------------------------------------------------------*/

.jp-media {
  display: block;
  width: 100%;
  height: auto;
  margin: 30px auto 50px;

  &__inner {
    display: block;
    width: 100%;
    height: 0;
    padding-top: 40%;
    position: relative;
    overflow: hidden;

    @include mq($bp-s) {
      padding-top: 60%;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/

.jp-slider {
  display: block;
  width: 100%;
  height: auto;
  max-height: 350px;
  overflow: hidden;
  margin: 30px auto 50px;
}

/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ol,
ul {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 3rem;
  color: $black;
  list-style: disc;
  width: 80%;
  margin: 5rem auto;

  @include mq($bp-xs) {
		font-size: 1.5rem;
		line-height: 2.5rem;
		margin: 2.5rem auto;
	}

}

/*--------------------------------------------------------------
# Figure / Image
--------------------------------------------------------------*/
figure {
  overflow: hidden;
  width: 100%;
  height: auto;

  img {
    width: auto;
    height: auto;
    max-width: 100%;

    &.desktop {
      display: inline;
    }

    &.mobile {
      display: none;
    }

    @include mq($bp-xs){

      &.desktop {
        display: none;
      }

      &.mobile {
        display: inline;
      }

    }

  }
}
