/*--------------------------------------------------------------
# Form Styles
--------------------------------------------------------------*/

form {
  display: block;
  width: 100%;
  height: auto;

  .input-group {
    display: block;
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 20px auto;
    text-align: left;

    label {
      display: block;
      font-size: 1.2rem;
      margin-bottom: 5px;
      color: #666;
    }

    &.error label {
      color: red;
    }

    input[type=text],
    input[type=email],
    input[type=date] {
      width: 100%;
      height: 30px;
      background: transparent;
      border: 0px;
      outline: none;
      border-bottom: 1px solid #cecece;
      @include font-playfair(400);
    	font-size: 1.4rem;
    	font-style: italic;
      color: #000;
    }

    textarea {
      width: 100%;
      height: 100px;
      background: transparent;
      border: 1px solid #cecece;
      outline: none;
      @include font-playfair(400);
    	font-size: 1.4rem;
      line-height: 1.6;
    	font-style: italic;
      color: #000;
      resize: none;
      padding: 5px;
    }
  }

  .form-actions {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 20px 0;

    .jp-button {
      display: inline-block;
      width: auto;
      height: 30px;
      line-height: 28px;
      font-size: 1.4rem;
      background: #000;
      color: #FFF;
      @include font-noto-serif(400);
      padding: 0 15px;
      border: 1px solid transparent;
      cursor: pointer;
      transition: background 500ms, color 500ms, border 500ms;

      &:hover {
        background: #FFF;
        color: #000;
        border: 1px solid #000;
      }
    }
  }
}

// Input Autocomplete
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: $white !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
