/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	@include font-noto-serif(400);
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: default;
}

html {
	font-size: 10px;
	letter-spacing: 0.01em;
}

/*--------------------------------------------------------------
# Headings (h1 through h6)
--------------------------------------------------------------*/

h1 {
	@include font-playfair(400);
	font-size: 2.9rem;
	line-height: 1.6;
	margin-bottom: 40px;
}

h2 {
	@include font-playfair(700);
	font-size: 2rem;
	line-height: 1.6;
	text-transform: uppercase;
	margin: 40px;

	&.normal {
		font-weight: 400;

		span {
			@include font-noto-serif(400);
			font-size: 0.6em;
			color: #444;
		}
	}

	small {
		display: block;
		font-weight: 400;
		font-size: 1.4rem;
		color: #6a6a6a;
	}
}

h3 {
	@include font-noto-serif(400);
	font-size: 1.2rem;
	line-height: 1.6;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin: 30px;

	&.hotel {
		margin-bottom: 10px;
	}
}

h4 {
	@include font-playfair(400);
	font-size: 1.6rem;
	line-height: 1.6;
	text-transform: lowercase;
	margin: 30px;
	font-style: italic;

	&.small {
		font-size: 1.3rem;
		max-width: 540px;
		margin: 20px auto;
		color: #6a6a6a;
	}
}

h5 {
	@include font-playfair(400);
	font-size: 1.6rem;
	line-height: 1.6;
	text-transform: none;
	font-style: italic;
	max-width: 500px;
	margin: 30px auto;
}

/*--------------------------------------------------------------
# Paragraph
--------------------------------------------------------------*/

p {
	@include font-playfair(100);
	font-size: 1.3rem;
	line-height: 1.9;
	margin: 30px;
	font-style: normal;
	max-width: 540px;
	margin: 10px auto 20px auto;

	a {
		display: inline-block;
    padding-bottom: 3px;
    border-bottom: 3px solid yellow;
		margin: 0 5px;

    &:hover,
    &.active {
      border-bottom: 3px solid #000;
    }

		&.inline {
			padding-bottom: 1px;
			border-bottom-width: 1px;
			&:hover,
	    &.active {
	      border-bottom: 1px solid #000;
	    }
		}
	}
}

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
