/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
// Default
$black: #000000;
$white: #ffffff;

// Custom


/*--------------------------------------------------------------
# Media Queries / Breakpoints
--------------------------------------------------------------*/
$bp-xs: 350px;
$bp-s: 600px;
$bp-m: 820px;
$bp-l: 1080px;
$bp-xl: 1300px;
