/*--------------------------------------------------------------
# Global Styles
--------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  background: none;
  padding: 0;
}

hr {
  border: none;
}

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media Queries / Breakpoints
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Justify Inline Block Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media queries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Transition
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Transform
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Flexbox
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Flexbox child
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Font Mixins
----------------------------------------------------------------
EG:
@mixin serif($weight: regular) {
  @if $weight == regular {
    font-family: 'MyFontFace', 'Times', serif;
  }
  @else if $weight == bold {
    font-family: 'MyFontFaceBold', 'Times', serif;
  }
  @else if $weight == italic {
    font-family: 'MyFontFaceItalic', 'Times', serif;
  }
} */
/*--------------------------------------------------------------
# Font Imports
--------------------------------------------------------------
EG:
@font-face {
  font-family: 'MyFontFace';
  src: url('fonts/MyFontFace/regular.otf') format('opentype');
  src: url('fonts/MyFontFace/regular.woff') format('woff');
} */
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

html {
  font-size: 10px;
  letter-spacing: 0.01em;
}

/*--------------------------------------------------------------
# Headings (h1 through h6)
--------------------------------------------------------------*/
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2.9rem;
  line-height: 1.6;
  margin-bottom: 40px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.6;
  text-transform: uppercase;
  margin: 40px;
}
h2.normal {
  font-weight: 400;
}
h2.normal span {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-size: 0.6em;
  color: #444;
}
h2 small {
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
  color: #6a6a6a;
}

h3 {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 30px;
}
h3.hotel {
  margin-bottom: 10px;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  text-transform: lowercase;
  margin: 30px;
  font-style: italic;
}
h4.small {
  font-size: 1.3rem;
  max-width: 540px;
  margin: 20px auto;
  color: #6a6a6a;
}

h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  text-transform: none;
  font-style: italic;
  max-width: 500px;
  margin: 30px auto;
}

/*--------------------------------------------------------------
# Paragraph
--------------------------------------------------------------*/
p {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size: 1.3rem;
  line-height: 1.9;
  margin: 30px;
  font-style: normal;
  max-width: 540px;
  margin: 10px auto 20px auto;
}
p a {
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 3px solid yellow;
  margin: 0 5px;
}
p a:hover, p a.active {
  border-bottom: 3px solid #000;
}
p a.inline {
  padding-bottom: 1px;
  border-bottom-width: 1px;
}
p a.inline:hover, p a.inline.active {
  border-bottom: 1px solid #000;
}

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/
body,
html {
  width: 100%;
  overflow-x: hidden;
  background: #fafafa;
}

/*--------------------------------------------------------------
# Body - Content Wrap
--------------------------------------------------------------*/
.jp-wrap {
  display: block;
  width: 95%;
  max-width: 800px;
  margin: 40px auto;
  height: auto;
  background: #FFF;
}

.jp-container {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
}
@media all and (max-width: 600px) {
  .jp-container {
    padding: 40px 25px;
  }
}

.jp-hr {
  display: block;
  width: 80%;
  height: 1px;
  background: #cecece;
  margin: 30px auto;
}

.jp-columns {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -moz-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  flex-align: flex-start;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  width: 100%;
  height: auto;
  margin: 40px auto;
}
.jp-columns__half {
  width: 50%;
  height: auto;
}
@media all and (max-width: 600px) {
  .jp-columns__half {
    width: 100%;
    margin: 30px auto;
  }
}
.jp-columns__half h2 {
  letter-spacing: 0.2em;
  margin: 10px 0;
}
.jp-columns__half h5 {
  font-size: 1.4rem;
  margin: 10px 0;
  line-height: 2;
}
.jp-columns__hotel {
  width: 48%;
  height: auto;
  margin: 0 auto 40px auto;
}
.jp-columns__hotel h3 {
  margin-bottom: 10px;
}
@media all and (max-width: 600px) {
  .jp-columns__hotel {
    width: 100%;
  }
}

.jp-travel-spacer {
  display: block;
  height: 30px;
}

/*--------------------------------------------------------------
# Page Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.jp-navigation__item {
  display: inline-block;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1rem;
  margin: 10px 10px;
  color: #444;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
}
.jp-navigation__item:hover, .jp-navigation__item.active {
  border-bottom: 3px solid yellow;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media Item
--------------------------------------------------------------*/
.jp-media {
  display: block;
  width: 100%;
  height: auto;
  margin: 30px auto 50px;
}
.jp-media__inner {
  display: block;
  width: 100%;
  height: 0;
  padding-top: 40%;
  position: relative;
  overflow: hidden;
}
@media all and (max-width: 600px) {
  .jp-media__inner {
    padding-top: 60%;
  }
}
.jp-media__image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/
.jp-slider {
  display: block;
  width: 100%;
  height: auto;
  max-height: 350px;
  overflow: hidden;
  margin: 30px auto 50px;
}

/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ol,
ul {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 3rem;
  color: #000000;
  list-style: disc;
  width: 80%;
  margin: 5rem auto;
}
@media all and (max-width: 350px) {
  ol,
  ul {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 2.5rem auto;
  }
}

/*--------------------------------------------------------------
# Figure / Image
--------------------------------------------------------------*/
figure {
  overflow: hidden;
  width: 100%;
  height: auto;
}
figure img {
  width: auto;
  height: auto;
  max-width: 100%;
}
figure img.desktop {
  display: inline;
}
figure img.mobile {
  display: none;
}
@media all and (max-width: 350px) {
  figure img.desktop {
    display: none;
  }
  figure img.mobile {
    display: inline;
  }
}

/*--------------------------------------------------------------
# Form Styles
--------------------------------------------------------------*/
form {
  display: block;
  width: 100%;
  height: auto;
}
form .input-group {
  display: block;
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 20px auto;
  text-align: left;
}
form .input-group label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #666;
}
form .input-group.error label {
  color: red;
}
form .input-group input[type=text],
form .input-group input[type=email],
form .input-group input[type=date] {
  width: 100%;
  height: 30px;
  background: transparent;
  border: 0px;
  outline: none;
  border-bottom: 1px solid #cecece;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.4rem;
  font-style: italic;
  color: #000;
}
form .input-group textarea {
  width: 100%;
  height: 100px;
  background: transparent;
  border: 1px solid #cecece;
  outline: none;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6;
  font-style: italic;
  color: #000;
  resize: none;
  padding: 5px;
}
form .form-actions {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 20px 0;
}
form .form-actions .jp-button {
  display: inline-block;
  width: auto;
  height: 30px;
  line-height: 28px;
  font-size: 1.4rem;
  background: #000;
  color: #FFF;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  padding: 0 15px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background 500ms, color 500ms, border 500ms;
}
form .form-actions .jp-button:hover {
  background: #FFF;
  color: #000;
  border: 1px solid #000;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: #ffffff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/*--------------------------------------------------------------
# Modules
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
