/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

body,
html {
  width: 100%;
  overflow-x: hidden;
  background: #fafafa;
}

/*--------------------------------------------------------------
# Body - Content Wrap
--------------------------------------------------------------*/

.jp-wrap {
  display: block;
  width: 95%;
  max-width: 800px;
  margin: 40px auto;
  height: auto;
  background: #FFF;
}

.jp-container {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;

  @include mq($bp-s) {
    padding: 40px 25px;
  }
}

.jp-hr {
  display: block;
  width: 80%;
  height: 1px;
  background: #cecece;
  margin: 30px auto;
}

.jp-columns {
  @include display-flex();
  width: 100%;
  height: auto;
  margin: 40px auto;

  &__half {
    width: 50%;
    height: auto;

    @include mq($bp-s) {
      width: 100%;
      margin: 30px auto;
    }

    h2 {
      letter-spacing: 0.2em;
      margin: 10px 0;
    }

    h5 {
      font-size: 1.4rem;
      margin: 10px 0;
      line-height: 2;
    }

  }

  &__hotel {
    width: 48%;
    height: auto;
    margin: 0 auto 40px auto;

    h3 {
      margin-bottom: 10px;
    }

    @include mq($bp-s) {
      width: 100%;
    }

  }

}

.jp-travel-spacer {
  display: block;
  height: 30px;
}
