/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.jp-navigation {

  &__item {
    display: inline-block;
    @include font-noto-serif(400);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1rem;
    margin: 10px 10px;
    color: #444;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;

    &:hover,
    &.active {
      border-bottom: 3px solid yellow;
    }
  }
}
